<!DOCTYPE html>
<html>
<head>
  <title><%= t('sudo_rails.page_header') %></title>
  <%= csrf_meta_tags %>
  <%= render 'sudo_rails/stylesheet' %>
</head>
<body>
  <%= render 'sudo_rails/flash_alert' %>
  <div class="sudo-container">
    <%= yield %>
  </div>
</body>
</html>
