<!DOCTYPE html>
<html>
<head>
  <title><%= t('sudo_rails.page_header') %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "sudo_rails/application", media: "all" %>
  <%= render 'sudo_rails/inject_custom_styles' if SudoRails.custom_styles? %>
</head>
<body>
  <%= render 'sudo_rails/flash_alert' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
