<header class='sudo-header'>
  <% if SudoRails.custom_logo %>
    <%= image_tag SudoRails.custom_logo %>
  <% end %>

  <h2><%= t('sudo_rails.page_header') %></h2>
</header>

<div class='sudo-form'>
  <%= form_tag '/sudo_rails/confirm' do |f| %>
    <%= hidden_field_tag :target_path, params[:target_path] || request.url %>
    <%= password_field_tag :password, nil, required: true, placeholder: t('sudo_rails.password') %>
    <%= submit_tag t('sudo_rails.button') %>
  <% end %>

  <% if SudoRails.reset_pass_link %>
    <%= link_to t('sudo_rails.forgot_pass'), SudoRails.reset_pass_link, target: '_blank' %>
  <% end %>
</div>

<div class='sudo-tip'>
  <%= t('sudo_rails.tip', duration: time_ago_in_words(SudoRails.sudo_session_duration.ago)).html_safe %>
</div>